body {
    color: #666666;
    font-size: 15px;
    font-family: 'Athiti', sans-serif;
    line-height: 1.80857;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav {
    position: absolute;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    height: 80px;
    width: 100%;
}

label.logo {
    color: #fcf2fa;
    font-size: 30px;
    line-height: 80px;
    padding: 0 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-style: italic;
    transition: .2s ease;
    text-shadow: 3px 5px 20px #230622aa;
}

nav ul {
    float: right;
    margin-right: 80px;
    z-index: 1000;
    /* Đặt giá trị z-index cao hơn */

}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    color: #010101;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 13px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #d0a772;
    transition: .5s;
    color: #FFF;
}

.checkbtn {
    line-height: 80px;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-right: 40px;
    display: none;
}

.checkbtn i {
    color: #fcf2fa;
    padding: 5px;
    border-radius: 10px;
    transition: .5s ease;
}

.checkbtn i:hover {
    background: #912a7eaa;
}

#check {
    display: none;
}

/* responsove code */
@media (max-width: 952px) {

    /* table mode */
    label.logo {
        font-size: 25px;
        padding-left: 50px;
    }

    nav .navbar-nav li a {
        font-size: 14px;
    }
}

@media (max-width: 858px) {

    /* mobile mode */
    .checkbtn {
        display: block;
    }

    .navbar-nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, rgba(178, 47, 147, .6)5%, rgba(35, 6, 34, .9));
        top: 80px;
        left: -100%;
        padding-top: 80px;
        text-align: center;
        transition: .5s ease;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
        color: #FFF !important;
    }

    a.active,
    a:hover {
        background: none;
        color: #12d2db;
        text-shadow: 0 10px 15px #12d2db;
    }

    #check:checked~ul {
        left: 0;
    }
}

/*  */

.footer-area {
    padding-top: 50px;
    padding-bottom: 0px;
}

.bg-f {
    background-image: url("../images/footer-bg.jpg");
    background-attachment: scroll;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

.footer-area .container {
    position: relative;
    z-index: 1;
}

.footer-area h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 1px dashed rgba(207, 166, 113, 0.5);
    margin-bottom: 10px;
}

.footer-area p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding-bottom: 10px;
}

.footer-area p.lead {
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 15px;
}

.footer-area p.lead a {
    color: #ffffff;
    margin-bottom: 15px;
}

.footer-area p.lead a:hover {
    color: #d0a772;
}

.footer-area p a {
    font-size: 18px;
    color: #ffffff;
}

.footer-area p a:hover {
    color: #d0a772;
}

.subscribe_form {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.subscribe_form .form_input {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    font-size: 19px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit {
    background-color: #d0a772;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit:hover {
    background: #010101;
}

.f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
}

.f-social li a {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 10px;
}

.copyright {
    margin-top: 20px;
    position: relative;
    display: block;
    background-color: #010101;
    border-top: 1px dashed rgba(207, 166, 113);
    padding: 30px 0;
    z-index: 1;
}

.copyright .company-name {
    font-size: 16px;
    text-align: center;
}

.copyright .company-name a {
    font-size: 16px;
}

/*  */
.container {
    position: relative;
    display: inline;
    width: 100px;
}

.check {
    position: relative;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #912a7eaa;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    transition: .2s ease;
    cursor: pointer;
    outline: none;
    margin-top: 20%;
}

.check::before {
    content: '+';
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fcf2fa;
    top: 40%;
    left: 50%;
    transform: rotate(0) translate(-50%, -50%);

}

.check:hover {
    background-color: #5e55d8;

}

.check:checked {
    transform: rotate(45deg) scale(.8);
}

.items {
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    color: #fcf2fa;
    font-size: 28px;
    border-radius: 50%;
    opacity: 0;
    transition: .3s ease;
    z-index: -1;
}

.btn-image {
    background-color: #ea5757;
    float: right;
    margin-top: 20%;
}

.btn-camera {
    background-color: #f7b24f;
    float: right;
    margin-top: 20%;
}

.check:checked~.items {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 1;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
}

.check:checked~.btn-image {
    left: -100px;
    transform: rotate(0);
}

.check:checked~.btn-camera {
    top: -100px;
    transform: rotate(0);
}

.check:checked~.btn-share {
    top: 100px;
    transform: rotate(0);
}

.check:checked~.btn-video {
    left: 100px;
    transform: rotate(0);
}

/*  */
.src-box {
    font-size: 13px;
    border: solid .25em #912a7eaa;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
    margin-top: 20px;
}

.src-box input[type=text] {
    font-family: inherit;
    font-weight: bold;
    color: #212121;
    width: 2.5em;
    height: 2.5em;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
    transition: width 800ms cubic-bezier(.68, -.55, .27, 1.55) 150ms;
}

.src-box input[type=text]:focus {
    outline: none;
}

.src-box input[type=text]:focus,
.src-box input[type=text]:not(:placeholder-shown) {
    width: 30em;
    transition: width 800ms cubic-bezier(.68, -.55, .27, 1.55);
}

.src-box input[type=text]:focus+button[type=reset],
.src-box input[type=text]:not(:placeholder-shown)+button[type=reset] {
    transform: rotate(-45deg) translateY(0);
    transition: transform 150ms ease-out 800ms;
}

.src-box input[type=text]:focus+button[type=reset]::after,
.src-box input[type=text]:not(:placeholder-shown)+button[type=reset]::after {
    opacity: 1;
    transition: top 150ms ease-out 950ms,
        right 150ms ease-out 950ms,
        opacity 150ms ease 950ms;
}

.src-box button[type=reset] {
    background-color: transparent;
    width: 1.4em;
    height: 1.4em;
    border: 0;
    padding: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .55em;
    right: .55em;
    transform: rotate(-45deg) translateY(2.2em);
    transition: transform 150ms ease-out 150ms;
}

.src-box button[type=reset]::before,
.src-box button[type=reset]::after {
    content: "";
    background-color: #912a7eaa;
    width: .3em;
    height: 1.4em;
    border-radius: 10px;
    position: absolute;
}

.src-box button[type=reset]::after {
    transform: rotate(90deg);
    opacity: 0;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
}

/*  */
.image {
    width: 50px;
    margin-left: 1%;
    float: left;
}

.list-group-item .a1 {
    text-decoration: none;
    margin-left: 3%;
    color: #111111;
    font-weight: 500;
}

.price {
    color: red;
    font-weight: bold;
    margin-left: 11%;
}